<!doctype html>
<html lang="fr" class="h-100" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://cdn.discordapp.com/icons/978335236440092713/c407708acde548772f05613a184d9afc.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Retranscription des tickets">
    <meta name="author" content="Zelyphe, MrCyci6 & Céréales">
    <meta name="generator" content="0.112.5">
    <title>Ticket | <%= profile.username %></title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">

    

    

<link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.3/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-10 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-10 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <div class="profile-pic">
        <img src="https://cdn.discordapp.com/icons/978335236440092713/c407708acde548772f05613a184d9afc.webp" alt="Sarazia">
      </div>
      <h3 class="float-md-start mb-0">Dashboard</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/logout">Logout</a>
      </nav>
    </div>
  </header>

  <div class="row">
    <div class="row row-cols-3 g-2">
        <%-htmlLinks%>
     </div>
  </div>
  <br>
  <div class="container">
      <footer class="mt-auto text-white-50">
        <p>Copyright © 2023 <a href="https://www.sarazia.fr" class="text-white">Sarazia</a> - Tous droits réservés.</p>
      </footer>
  </div>
</div>
<script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    </body>
</html>
